Repository torian12321/eslint-config, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ESLint rules ðŸ”·, github actions

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: [
    '**/*.md',
    '**/*.mdx'
  ]

ESLint rules ðŸ”·:
- changed-files:
  - any-glob-to-any-file: ['./src/**/*']

github actions:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

update library name
  README.md
  src/base.js
  src/rules/customRules/index.js
  src/rules/import.js
  src/rules/namingConvention.js
Labels: documentation, ESLint rules ðŸ”·

update library name
  .npmrc.example
Labels: none

remove publish script
  package.json
Labels: none

add preinstall script
  README.md
  package-lock.json
  package.json
  scripts/generate-npmrc.js
Labels: documentation

add preinstall script
  scripts/generate-npmrc.js
  tsconfig.json
Labels: none

add preinstall script
  scripts/generate-npmrc.js
  tsconfig.json
Labels: none

ref: add meta-package config
  README.md
  docs/USAGE.md
  package-lock.json
  package.json
Labels: documentation

ref: add meta-package config
  package-lock.json
Labels: none

ref: add custom rules to plugins array
  README.md
  docs/assets/eslint-config.drawio
  docs/assets/eslint-config.svg
  package.json
  src/base.js
  src/react.js
  src/rules/customRules/index.js
Labels: documentation, ESLint rules ðŸ”·

feat: add examples
  examples/base/eslint.config.js
  examples/base/package.json
  examples/base/src/index.ts
  examples/eslint.config.js
  examples/package-lock.json
  examples/package.json
  examples/src/App.tsx
Labels: none

feat: add workflow steps
  .env.example
  .github/workflows/CI.yml
  .github/workflows/release.yml
  .npmrc.config
  .npmrc.example
  README.md
  package-lock.json
  package.json
  scripts/generate-npmrc.js
  src/react.js
Labels: documentation, ESLint rules ðŸ”·, github actions

doc: ci and release tags
  README.md
Labels: documentation

update version
  .npmrc.example
  package-lock.json
  package.json
Labels: none

feat: add html rules
  docs/USAGE.md
  package-lock.json
  package.json
  src/react.js
  src/rules/html.js
Labels: documentation, ESLint rules ðŸ”·

doc: add examples in how to use eslint config for base and react projects
  examples/base/.npmrc.example
  examples/base/package-lock.json
  examples/base/tsconfig.json
  examples/eslint.config.js
  examples/package.json
  examples/react-vite/.npmrc.example
  examples/react-vite/eslint.config.js
  examples/react-vite/package-lock.json
  examples/react-vite/package.json
  examples/react-vite/src/App.tsx
  examples/react-vite/tsconfig.json
  tsconfig.json
Labels: none

ref: ignore examples folder
  eslint.config.js
Labels: none

feat: add ignores for lib and build folders
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
  src/base.js
Labels: ESLint rules ðŸ”·

feat: generate a .lib folder with content to be published
  .gitignore
  eslint.config.js
  jsconfig.json
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.vite.json
  vite.config.ts
  vitest.config.js
Labels: none

feat: add TS
  package.json
  vite.config.ts
Labels: none

feat: add enum rules and documentation
  README.md
  examples/base/package-lock.json
  examples/base/package.json
  examples/base/tsconfig.json
  examples/react-vite/package-lock.json
  examples/react-vite/package.json
  examples/react-vite/tsconfig.json
  package-lock.json
  package.json
  src/base.js
  src/rules/enums.js
  tsconfig.json
Labels: documentation, ESLint rules ðŸ”·

docs: update main README.md file
  README.md
Labels: documentation

feat: add ts support
  .github/workflows/CI.yml
Labels: github actions

feat: add enum rules
  README.md
  eslint.config.js
  examples/base/package-lock.json
  examples/base/package.json
  examples/react-vite/package-lock.json
  examples/react-vite/package.json
  package-lock.json
  package.json
  src/rules/enums.ts
  tsconfig.vite.json
  vite.config.ts
Labels: documentation, ESLint rules ðŸ”·

fix: build before check for formats
  package.json
Labels: none

chore: use 'dist' as output folder
  .github/workflows/CI.yml
  package.json
  src/base.ts
  tsconfig.json
  vite.config.ts
Labels: ESLint rules ðŸ”·, github actions
